svg text {
    font-family: sans-serif;
    text-anchor: middle;
    font-size: 14px;
  }
  
  rect {
    fill: rgb(4, 90, 109);
  }

  rect:hover {
    opacity:0.5;
  }

  svg text{
    fill: #ffad00;
    font-weight: 600;
    text-anchor: middle;
  }

  rect.activeBubble {
    fill: rgb(255, 230, 0);
  }
  
  rect.completedBubble {
    fill: rgb(0, 167, 42);
  }

  rect.completedInsertion {
    fill: rgb(0, 167, 42);
  }
  
  rect.activeInsertion {
    fill: rgb(255, 230, 0);
  }

  rect.activeSelection {
    fill: rgb(255, 230, 0);
  }
  
  rect.completedSelection {
    fill: rgb(0, 167, 42);
  }
  
  rect.activeQuick {
    fill: rgb(0, 137, 168);
  }
  
  rect.highlightQuick {
    fill: rgb(251, 178, 88);
  }
  
  rect.completedQuick {
    fill: rgb(0, 167, 42);
  }
  
  rect.pivotQuick {
    fill: rgb(199, 32, 32);
    opacity: 0.2;
  }
  
 