svg text {
    font-family: sans-serif;
    text-anchor: middle;
    font-size: 14px;
  }
  
  rect {
    fill: #002f39;
  }

  rect:hover {
    opacity:0.5;
  }

  svg text{
    fill: #afe2f7;
    font-weight: 400;
    text-anchor: middle;
  }
  
  rect.active {
    fill: rgb(251, 178, 88);
  }
  
  rect.completed {
    fill: rgb(27, 182, 87);
  }