$bg-color: #333;
$bl-color: #22BAD9;

body {
  font-family: monospace;
  font-size: 18px;
  line-height: 1.7;
  background-color: #333333;
}

.Typist {
  span {
    color: inherit;
    &:hover {
      background-color: $bl-color;
      color: white;
      text-decoration: none;
    }
  }

  &-header {
    font-size: 3em;
    cursor: pointer;
    color: $bl-color;
  }
}
